@mixin arrow_box($direction) {
    width: 4em;
    color: black;
    font-size: .75em;
    height: 1.03em;
    border: none;
    padding: 0;
    position: relative;
    background: $ribbonColor;
    &:after {
        content: "";
        position: absolute;
        #{$direction}: 100%;
        width: 0;
        height: 0;
        bottom: 0.01em;
        border-top: .5em solid transparent;
        border-bottom: .5em solid transparent;
        border-#{$direction}: .5em solid $ribbonColor;
    }
}
