// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "compass/reset";
@import "compass";
@import "header";
@import "navRibbon";
@import "content";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 16;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;

// ---------------------------------------------------------------------------
// Fonts
