@mixin content {

  .content {
    font-family: Alegreya;
    width: 100%;
    padding: 0 1em;

    .main {
      position: relative;
      z-index: 41;
      background: rgba(255, 255, 255, 1);
      padding: 1em;
      float: left;
      width: 50%;
    }

    %sidebar {
      @include transition(all 2s 1s);
      position: relative;
      color: $background_color;
      background: rgba(145, 140, 140, 1);
      opacity: 0;
      float: left;
      width: 25%;
      height: auto;
      padding: 1em;
    }

    .sidebar-left {
      @extend %sidebar;
      border-right: 1em solid $background_color;
      left: 25%;
      .repos {
        padding: 0.5em;
        position: relative;
        text-align: center;
        height: 11em;

        div.repo-container {

          nav.repo {
              width: 100%;
            @extend %clearfix;

            button.first {
              width: 14%;
              @include border-radius(15em 0 0 15em);
            }

            button.prev {
              margin-left: 3%;
              width: 20%;
              //@include arrow_box(right);
              //@include border-radius(0 10px 10px 0);
            }

            div.page-count {
              float: left;
              position: relative;
              width: 20%;
              background: $ribbonColor;
              color: black;
              font-size: 0.7em;
              padding: 0.2em 1em 0.2em 1em;
              margin: 0 3% 0 3%;
              @include border-radius(15em);
            }
          
            button.next {
              margin-right: 3%;
              width: 20%;
              //@include arrow_box(left);
              //@include border-radius(10px 0 0 10px);
            }

            button.last {
              width: 14%;
              @include border-radius(0 15em 15em 0);
            }

            button {
              background: $ribbonColor;
              float: left;
              color: black;
              font-size: 0.55em;
              height: 1.9em;
              border: none;
              &:enabled:hover{
                @include background(scale-lightness($ribbonColor, 50));
              }

              &:enabled:active {
                @include background(scale-lightness($ribbonColor, -50));
              }
            }
          }
        }
      
        .git {
          height: 100%;
        
          li {
            margin: 0.5em 0 .5em 0;
            background: $ribbonColor;
            padding: 0.25em 0 0.25em;
          
            a {
              text-decoration: none;
              color: black;
            }
          
            &:hover {
              @include background(scale-lightness($ribbonColor, 20));
            }
          }
        }
      }
    }
  
    .sidebar-right {
      @extend %sidebar;
      border-left: 1em solid $background_color;
      left: -25%;
    }

    .slideIn {
      opacity: 1;
      left: 0;
    }
  }
}
