@mixin content {

    .content {
        font-family: Alegreya;
        width: 100%;
        padding: 0 20px;

        .main {
            background: rgba(255, 255, 255, 1);
            padding: 20px;
            float: left;
            width: 50%;
        }

        %sidebar {
            @include transition(all 2s 1s);
            position: relative;
            color: $background_color;
            background: rgba(145, 140, 140, 1);
            opacity: 0;
            float: left;
            width: 25%;
            height: 500px;
            padding: 20px;
        }

        .sidebar-left {
            @extend %sidebar;
            border-right: 20px solid $background_color;
            left: -25%;
            .repos {
                border: 1px solid;
            }
        }

        .sidebar-right {
            @extend %sidebar;
            border-left: 20px solid $background_color;
            left: 25%;
        }

        .slideIn {
            opacity: 1;
            left: 0;
        }

    }
}
