@mixin header {

    header.main {
        text-align: center;
        padding: 1.95em;
        clear: both;


        h1 {
            @include text-shadow(-0.15em 0.15em 0.1em rgba(255, 255, 255, 1));
            margin: 0 auto;
            font-family: Rye;
            font-size: 3em;
        }
    }
}
