$ribbonColor: rgba(194, 204, 207, 1);

@mixin navRibbon {
    nav.main {
        z-index: 42;
        position: relative;
        width: 50%;
        margin: 0 25% 0 25%;
        padding: .5em;
        background: $ribbonColor; 
        border-top-left-radius: 14px 7px;
        border-top-right-radius: 14px 7px;
        ul {
            text-align: center;
            li { 
                display: inline-block;
            }
        }
    }

    %ribbonCurl {
        position: absolute;
        bottom: -14px;
        width: 10px;
        height: 14px;
        background: $ribbonColor;

        &:after {
            content: '';
            position: absolute;
            width: 66%;
            height: 66%;
            background: #000;
        }
    }

    .nav-left {
        @include border-bottom-left-radius(100% 50%);
        @extend %ribbonCurl;
        left: 0;

        &:after {
            right: 0;
            @include border-top-left-radius(100% 50%);
            @include border-bottom-left-radius(100% 50%);
        }
    }

    .nav-right {
        @extend %ribbon;
        @include border-bottom-right-radius(100% 50%);
        @extend %ribbonCurl;
        right: 0;

        &:after {
            left: 0;
            @include border-top-right-radius(100% 50%);
            @include border-bottom-right-radius(100% 50%);
        }
    }
}
