/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

.container {
    background: rgba(247, 243, 232, 1);
    position: relative;

    header.main {
        text-align: center;
        padding: 39px;
        clear: both;

        h1 {
            @include text-shadow(-3px 3px 2px white);
            margin: 0 auto;
            font-family: Rye;
            font-size: 50px;
        }
    }

    nav.main {
        border-top: 1px solid green;
        border-bottom: 1px solid green;
        margin: 0 25% 0 25%;
        padding: .5em;
        background: rgba(247, 243, 232, 1);
        ul {
            li { 
                display: inline-block;
                margin: 0 auto;
                text-align: center;
            }
        }
    }

    .content {
        font-family: Alegreya;
        width: 100%;
        padding: 20px;
        .main {
            background: rgba(255, 255, 255, 1);
            padding: 20px;
            float: left;
            width: 50%;
        }

        .left-sidebar {
            width: 25%;
            float: left;
            padding: 20px;
            .git {
                border: 1px solid;
            }
        }

        .right-sidebar {
            width: 25%;
            padding: 20px;
            float: left;
        }
        
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

.sticky {
    position: fixed;
    margin: 0;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}


