/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

$background_color: rgba(247, 243, 232, 1);
html{
}
.container {
    background: $background_color;
    position: relative;
    @include header;
    @include navRibbon;
    @include content;
}

.sticky {
    position: fixed !important;
}

.slideIn {
    opacity: 1;
    left: 0;
}

*, *:after, *:before {
    @include box-sizing(border-box);
}


