@import 'base';

$background_color: rgba(247, 243, 232, 1);
$ribbonColor: rgba(194, 204, 207, 1);

body {
    background: $background_color;
    //@include grid-row(18);
}

.container {
    position: relative;
    @include repo;
    @include navRibbon;
}
