/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
.container {
  background: #f7f3e8;
  position: relative;
}
/* line 12, ../sass/screen.scss */
.container header.main {
  text-align: center;
  padding: 39px;
  clear: both;
}
/* line 17, ../sass/screen.scss */
.container header.main h1 {
  text-shadow: -3px 3px 2px white;
  margin: 0 auto;
  font-family: Rye;
  font-size: 50px;
}
/* line 25, ../sass/screen.scss */
.container nav.main {
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  margin: 0 25% 0 25%;
  padding: .5em;
  background: #f7f3e8;
}
/* line 32, ../sass/screen.scss */
.container nav.main ul li {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
/* line 40, ../sass/screen.scss */
.container .content {
  font-family: Alegreya;
  width: 100%;
  padding: 20px;
}
/* line 44, ../sass/screen.scss */
.container .content .main {
  background: white;
  padding: 20px;
  float: left;
  width: 50%;
}
/* line 51, ../sass/screen.scss */
.container .content .left-sidebar {
  width: 25%;
  float: left;
  padding: 20px;
}
/* line 55, ../sass/screen.scss */
.container .content .left-sidebar .git {
  border: 1px solid;
}
/* line 60, ../sass/screen.scss */
.container .content .right-sidebar {
  width: 25%;
  padding: 20px;
  float: left;
}
/* line 66, ../sass/screen.scss */
.container .content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 74, ../sass/screen.scss */
.sticky {
  position: fixed;
  margin: 0;
}

/* line 79, ../sass/screen.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
